/* DOCUMENTO CSS */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: ;

    background-attachment: fixed;
}

header{
    background-color: ;
text-align: center;
height: 90px;
padding-top: 20px;
color:;
font-family: sans-serif;
display: flex;
justify-content: center;

}

header h1 {
    margin: 7px 0 0 10px;

}

main {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    display: flex; 
    justify-content: center; 
    padding-top: 80px; 
    border: 100px 50px 100px 50px;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form {  
width: 1000px; 
padding: 40px; 
box-shadow: 0 8px 32px 
#1f26875e; 
backdrop-filter: blur( 13.5px ); 
border-radius: 10px; 
border: 1px solid #ffffff33;
background: #ffffff77; 
margin-bottom: 70px;

}
main form h2{ 
text-align: center; 
margin-bottom: 20px; 
font-size: 33px; 
color: #322332
} 
main form h1{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

main form input[type=radio] {
    width: 20px;
    margin-left: 10px;
}

main section form input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin: 30px 0 15px 0;
    background-color: #fff;
    color: #ddd;
    padding: 10px;
    font-size: 18px;
}

main form .categoria {
    position: relative;
    top: -10px;
}

label {
    font-size: 20px;
}


footer {
background-color: #ffffff;
height: 70px;
padding: 30px;
text-align: center;
justify-content: left;
border-radius: 10px;

}

footer figure {
width: 50px;
height: 50px;
background-color: #696969;
margin: 0 30px 0 50px;
padding: 0; 
align-content: center;}

footer  {
font-weight: 900;
font-size: 20px;
margin: 10px 0 0 0;
text-align: center;
}
}
#socialmedias{
margin-left: 700px;
padding-top: 20px;
}
.fa-brands {
margin-right: 10px;
font-size: 20px;
}







